# Backend
VITE_API_URL=http://localhost:5000/api

# Firebase
VITE_API_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyCYvBLNI39A_w7ty5CUjTLeQu-qeOIhfDE
VITE_FIREBASE_AUTH_DOMAIN=pixel-pirates-ce183.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pixel-pirates-ce183
VITE_FIREBASE_STORAGE_BUCKET=pixel-pirates-ce183.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=704791239348
VITE_FIREBASE_APP_ID=1:704791239348:web:36d27feb87ef2c38f1d5e1

# External APIs
VITE_OMDB_KEY=trilogy
VITE_GROQ_KEY=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
VITE_GROQ_MODEL=llama3-8b-8192
VITE_RAWG_KEY=your_rawg_api_key_here
